.footer1 {
  margin: 0;
  padding: 0;
  background-color: #333333;
  width: auto;
  height: 395px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.back {
  margin: 0;
  padding: 0;
  justify-content: center;
  padding: 10px;

  padding-bottom: 40px;
  width: auto;
  height: 320px;
  border: 5px solid #ffffff;

  border-radius: 10px;

  margin-left: 0px;

  display: flex;
  color: white;
}
.back p {
  padding: 0;
  margin: 0;
  line-height: 25.5px;
  font-size: 15px;
}

.contact {
  padding: 0;
  margin: 0;
  margin: 40px;
  margin-top: 8px;
  padding-left: 60px;
  height: 400px;
  width: 400px;
}
.address p {
  padding: 0;
  margin: 0;
  line-height: 20px;
}
.bar h2 {
  padding: 0;
  margin: 0;
  /* padding-top: 5px; */
  border-bottom: 1px solid white;
}
.box {
  padding: 0;
  margin: 0;
  display: flex;
}
.box h2 {
  padding: 0;
  margin: 0;
  padding-right: 10px;
}
.paragraph {
  padding: 0;
  margin: 0;
  padding-top: 15px;
}

.weight p {
  padding: 0;
  margin: 0;
  font-weight: bold;
}
.quick {
  padding: 0;
  margin: 0;
  width: 200px;
  margin: 40px;
  margin-top: 8px;

  height: 400px;
}
.quick1 {
  padding: 0;
  margin: 0;
  margin: 40px;
  margin-top: 8px;
  height: 400px;
  width: 200px;
}
.quick2 {
  padding: 0;
  margin: 0;
  position: relative;
  margin: 40px;
  margin-top: 8px;

  height: 400px;
  width: 200px;
}
#A {
  padding: 0;
  margin: 0;
  display: block;
  padding-left: 40px;
  padding-bottom: 20px;
}
.copy {
  padding: 0;
  margin: 0;
  display: flex;
  padding-top: 30px;
  height: 50px;
  background-color: black;
  padding-left: 200px;
  color: white;
  line-height: 1px;
  align-items: center;
}
.reserved {
  padding: 0;
  margin: 0;
  padding-bottom: 19px;
}
.logo {
  padding: 0;
  margin: 0;
  /* float: right; */
  align-items: center;
  padding-left: 660px;
}
.logo img {
  padding: 0;
  margin: 0;
  display: inline-block;
  padding-bottom: 19px;
  cursor: pointer;
}
